.mockDialog {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  color:#000;
  font-family: 'Helvetica';
  position: absolute;
  left: 30%;
  top: 45%;
  float:left;
  border: 2px solid #3b5998;
  box-shadow: 5px 5px 2px #888888;
}

.mockDialog h3 {
  color:#00f;
}

.mockDialog p {
  color:#000;
}

.mockDialog input {
  background-color: #3b5998;
  color: #fff;
}